* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #692c99;
}
#loginContent{
	display:none;
	font-family: Impact, Charcoal, sans-serif;
}
#loginPage {
	background-color: #692c99; 
}
#gametitle{
	background-color: yellow; 
	font-family: Impact, Charcoal, sans-serif;
	font-size: 50px;
	width: 350px;
	margin: auto;
	text-align: center;
	margin-top: 100px;
	border-radius: 10px;
}
#play{
	border-radius: 10px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 15px;
	width: 100px;
	cursor: pointer;
	margin-left: 71.5%;
}
#loginForm {
	background-color: yellow;
	width: 350px;
	margin: 0 auto;
	margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
	box-sizing: border-box;
	text-align: center;
}
#loginButton {
	border-radius: 10px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 15px;
	width: 100px;
	cursor: pointer;
	margin-left: 71.5%;
	margin-bottom: -1px;
}
#startButton {
	background: #f71202;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 150%;
	float: right;
	margin-right: 30%;
}
#startButton:hover {
	background: #f4511e;
}
#board{
	margin: 0 auto;
}
#information {
	background-color: #9c8ee2;
	display: inline-block;
	width: 15%;
	font-family: courier;
	padding: 20px;
	margin-left: 30%;
	border-radius: 10px;
	border: 5px solid black	;
}
#rank {
	background-color: #9c8ee2;
	text-align: center;
	margin-bottom: -100px;
	margin-left: 75%;
	font-family: courier;
	padding-left: 50px;
	padding-right: 100px;
	border-radius: 10px;
	border: 5px solid black;
}
#rank th,td{
	border: 1px solid black;
	boder-radius: 0px;
}
table{
	border-spacing: 10px 10px;
	margin: 0 auto;
	width: 200px;
}
img {
	opacity: 0;
	width: 125px;
	height: 125px;
	margin-bottom: -4px;
	border-radius:10px;
}
#board th,td {
	background-color: #efdc07	;
	border-radius: 10px;
	cursor: pointer;
}
